In [12]:
import pandas as pd

In [15]:
location_df=pd.read_excel('DataSet/KathmanduMap.xlsx')
location_df.head(5)

,Unnamed: 0,PashupatinathTemple,BoudhanathStupa,SwayambhunathStupa,Thamel,KopanMonastery,DurbarSquareKathmandu,HanumanDhokaTemple,KumariHouse,BuddhaNilkanth,...,Bhaktapur,Chisapani,Dhulikhel,Kirtipur,Phulchoki,Kulekhani,LakuriBhanjyang,NamoBuddha,Kakani,Helambu
0,PashupatinathTemple,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BoudhanathStupa,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,SwayambhunathStupa,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thamel,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KopanMonastery,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN