In [1]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
from IPython.display import display
from ipywidgets import Dropdown
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
path = "C:\\Users\\hp\\Desktop\\New folder\\Greedy-and-A-star-search-algorithm\\DataSet"
df = pd.read_csv(path + "\\bookgreedy.csv", index_col = 0)
dfe = pd.read_csv(path + "\\distanceto_e.csv", index_col = 0)
dfe.head()

          distanceto_e
location
s                   10
a                    9
b                    7
c                    8
d                    8

In [3]:
df.rename(columns = {'Unnamed: 14':'distanceto_e'}, inplace = True )

In [4]:
df

,s,a,b,c,d,e,f,g,h,i,j,k,l,distanceto_e
s,0.0,9.0,2.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10
a,9.0,0.0,3.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9
b,2.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,7
c,3.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,8
d,NaN,4.0,4.0,NaN,0.0,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,8
e,NaN,NaN,NaN,NaN,NaN,0.0,NaN,2.0,NaN,NaN,NaN,5.0,NaN,0
f,NaN,NaN,NaN,NaN,5.0,NaN,0.0,NaN,3.0,NaN,NaN,NaN,NaN,6
g,NaN,NaN,NaN,NaN,NaN,2.0,NaN,0.0,2.0,NaN,NaN,NaN,NaN,3
h,NaN,NaN,1.0,NaN,NaN,NaN,3.0,2.0,0.0,NaN,NaN,NaN,NaN,6
i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,4.0,4.0,4
j,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,4.0,4.0,4
k,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,4.0,4.0,0.0,NaN,3
l,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,4.0,4.0,NaN,0.0,6

In [5]:
def dropdown_eventhandler(change):
    print(change.new)

option_list = df.index
source = Dropdown(description="Source:", options="s")
source.observe(dropdown_eventhandler, names='value')
display(source)
dest = Dropdown(description="Destination:", options="e")
dest.observe(dropdown_eventhandler, names='value')
display(dest)

Dropdown(description='Source:', options=('s',), value='s')

Dropdown(description='Destination:', options=('e',), value='e')

In [6]:
df.iloc[0,1] = 7

In [7]:
df.drop('distanceto_e', axis = 1, inplace = True)

In [8]:
dfs = df.loc[df.index == source.value]
dfs

     s    a    b    c   d   e   f   g   h   i   j   k   l
s  0.0  7.0  2.0  3.0 NaN NaN NaN NaN NaN NaN NaN NaN NaN

In [9]:
df1 = dfs.loc[:,[(dfs[col] > 0.0).all() for col in dfs.columns]]
df1

     a    b    c
s  7.0  2.0  3.0

In [10]:
df1.columns

Index(['a', 'b', 'c'], dtype='object')

In [11]:
df1.shape[1]

3

In [12]:
list = [column for column in df1.columns]
list

['a', 'b', 'c']

In [13]:
dfs3 = dfe.loc[dfe.index == list[0]]
dfs3

          distanceto_e
location
a                    9

x = df1.idxmin(axis = 1)
x[0]

In [14]:
dfs3 = dfe.loc[list]
dfs3

          distanceto_e
location
a                    9
b                    7
c                    8

In [15]:
y = dfs3.idxmin(axis = 0)
y

distanceto_e    b
dtype: object

In [16]:
source.value

's'

In [17]:
dest.value

'e'

In [18]:
source = source.value

In [20]:

final_path = [source]
y[0] = None
#print(y[0])
while y[0] != dest.value:
    #print(y[0])

    dfs = df.loc[df.index == source]
    df1 = dfs.loc[:,[(dfs[col] > 0.0).all() for col in dfs.columns]]
    list = [column for column in df1.columns]
    print("the list is: ", list)
    dfs3 = dfe.loc[list]
    print(dfs3)
    y = dfs3.idxmin(axis = 0)
   # print(y[0])
    source = y[0]
  #  print(source)
    print("the selected node is:",y[0])
    final_path.append(y[0])
final_path

the list is:  ['g', 'k']
          distanceto_e
location
g                    3
k                    3
the selected node is: g
the list is:  ['e', 'h']
          distanceto_e
location
e                    0
h                    6
the selected node is: e

['g', 'e']